@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

:root {
  background-color: #17181a;
  color: aliceblue;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.blinking-cursor {
  font-weight: bolder;
  font-size: 30px;
  color: #6d7982;
  display: inline-block;
  animation: blink 1s step-end infinite;
}
